/* CONTAINER
=================================*/

.container {
  max-width: 120rem; //1200px
  margin: 8rem auto; // Centers the container with it's parent container(Body)
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}