/* DETAIL
=================================*/
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: $color-grey-light-1;
  border-bottom: $line;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
}