/* DESCRIPTION
=================================*/

.description {
  font-size: 1.4rem;
  background-color: #ffffff;
  box-shadow: $shadow-light;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
}