/* DESCRIPTION
=================================*/

.description {
  font-size: 1.4rem;
  background-color: #ffffff;
  box-shadow: $shadow-light;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}